@model List<Game>

@{
    ViewData["Title"] = "Index";
}

<alert texto="@TempData["mensagem"]"></alert>

<div class="card">
    <div class="card-header">Pesquisar Jogos</div>
    <div class="card-body">
        <form asp-action="Index" asp-controller="Game" method="get">
            <div class="row">
                <div class="col-4">
                    <a asp-action="Cadastrar" asp-controller="Game" class="btn btn-success">Cadastro de Jogos</a>
                </div>
                <div class="col-4">
                    <input type="text" name="title" class="form-control" placeholder="Buscar"/>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary" type="submit">Pesquisar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Developer</th>
            <th>Publisher</th>
            <th>Category</th>
            <th>Release Date</th>
            <th>Genre</th>
            <th>Review</th>
            <th>Free to Play</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Developer</td>
                <td>@item.Publisher</td>
                <td>@item.Category</td>
                <td>@item.ReleaseDate.ToString("dd/MM/yyyy") </td>
                <td>@item.Genre</td>
                <td>@item.Review</td>
                <td>@(item.FreeToPlay ? "Sim" : "Não")</td>
                <td>
                    <a asp-action="editar" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>

                    <button onclick="churros.value = @item.Id" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Excluir
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmação</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja realmente excluir o jogo?
            </div>
            <div class="modal-footer">
                <form asp-action="remover">
                    <input type="hidden" name="id" id="churros" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>